pkgbase = surf-git
	pkgdesc = a simple web browser based on WebKit2/GTK+
	pkgver = 2.0
	pkgrel = 1
	url = https://surf.suckless.org
	arch = x86_64
	license = MIT
	makedepends = git
	depends = at-spi2-atk
	depends = at-spi2-core
	depends = atk
	depends = brotli
	depends = cairo
	depends = dbus
	depends = e2fsprogs
	depends = enchant
	depends = expat
	depends = fontconfig
	depends = freetype2
	depends = fribidi
	depends = gcr
	depends = gdk-pixbuf2
	depends = glib2
	depends = graphite
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = gtk3
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = hyphen
	depends = icu
	depends = keyutils
	depends = krb5
	depends = libcap
	depends = libcloudproviders
	depends = libdatrie
	depends = libdrm
	depends = libelf
	depends = libepoxy
	depends = libevdev
	depends = libffi
	depends = libgcrypt
	depends = libglvnd
	depends = libglvnd
	depends = libgpg-error
	depends = libgudev
	depends = libidn2
	depends = libjpeg-turbo
	depends = libmanette
	depends = libnotify
	depends = libp11-kit
	depends = libpng
	depends = libpsl
	depends = libseccomp
	depends = libsecret
	depends = libsoup
	depends = libtasn1
	depends = libthai
	depends = libtiff
	depends = libunistring
	depends = libunwind
	depends = libwebp
	depends = libwpe
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxdmcp
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxml2
	depends = libxrandr
	depends = libxrender
	depends = libxslt
	depends = lz4
	depends = mesa
	depends = openjpeg2
	depends = orc
	depends = pango
	depends = pcre
	depends = pixman
	depends = sqlite
	depends = systemd-libs
	depends = util-linux-libs
	depends = wayland
	depends = webkit2gtk
	depends = woff2
	depends = wpebackend-fdo
	depends = zlib
	depends = zstd
	optdepends = ca-certificates: SSL verification
	optdepends = curl: default download handler
	optdepends = dmenu: url bar and search
	optdepends = mpv: default video player
	optdepends = st: default terminal for the download handler
	optdepends = tabbed: tab browsing
	optdepends = xorg-xprop: url bar and search
	provides = surf
	conflicts = surf
	source = git+https://github.com/CantoroMC/suckless
	md5sums = SKIP

pkgname = surf-git
